<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,500&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/aca2d893d4.js"
      crossorigin="anonymous"
    ></script>
    <title>My Travel Planner</title>
  </head>
  <body>
    <header>
      <div class="app-text">My Travel Planner</div>
    </header>
    <main>
      <section class="user-hero">
        <h2>Where am you going to next?</h2>
      </section>

      <section class="search">
        <form class="search-input" onsubmit="return Client.handleSubmit(event)">
          <label class="search-input__destination" for="destination"
            >Next Destination
            <input
              id="destination"
              type="text"
              name="destination"
              value=""
              placeholder=""
              required
            />
          </label>
          <label class="search-input_day-leaving" for="Day Leaving"
            >Day Leaving
            <input id="Day Leaving" type="date" name="Day Leaving" required />
          </label>
          <input
            class="btn search-input__search-button"
            type="submit"
            name=""
            value="input"
          />
        </form>
      </section>
      <section class="results-section">
        <div id="tripDetails"></div>
      </section>
      <section class="fav-trips">
        <div id="tripsHistory"></div>
      </section>
    </main>
    <footer>
      <p>My Travel Planner</p>
    </footer>
    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
